{
  security {
    secret-provider = "com.thingworx.security.provider.keystore.KeyStoreProvider"
    default-encryption-key-length = 256

    keystore {
      password-file-path = "{{ env_var("THINGWORX_PLATFORM_SETTINGS", "/ThingworxPlatform") }}"
      password-file-name = "keystore-password"
      path = "{{ env_var("THINGWORX_STORAGE", "/ThingworxStorage") }}"
      name = "keystore"
    }
  }
}
