<?xml version='1.0' encoding='utf-8'?>

<Server port="{{ env_var("SERVER_PORT", "7005") }}" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <Service name="Catalina">

{% if env_var("ENABLE_HTTP", "true") == "true" %}
    <Connector port="{{ env_var("SERVER_HTTP_PORT", "8080") }}"
               protocol="org.apache.coyote.http11.Http11NioProtocol"
               connectionTimeout="20000"
               maxConnections="10000"
               maxThreads="200"
               redirectPort="{{ env_var("SERVER_HTTPS_PORT", "8443") }}" />
{% endif %}
{% if env_var("ENABLE_HTTPS", "false") == "true" %}
    <Connector port="{{ env_var("SERVER_HTTPS_PORT", "8443") }}"
               protocol="org.apache.coyote.http11.Http11NioProtocol"
               connectionTimeout="20000"
               maxConnections="10000"
               maxThreads="200"
               keystoreFile="{{ env_var("SSL_KEYSTORE_BASE_PATH", "/ThingworxPlatform") }}/{{ env_var("SSL_KEYSTORE_FILENAME", "keystore.jks") }}"
               keystorePass="{{ env_var("SSL_KEYSTORE_PASSWORD", "") }}"
               clientAuth="false"
               sslProtocol="{{ env_var("TOMCAT_SSL_PROTOCOLS", "TLSv1.2") }}"
               SSLEnabled="true" scheme="https" secure="true" />
{% endif %}
    <Engine name="Catalina" defaultHost="localhost">
      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
      </Realm>

      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true">

        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
               prefix="localhost_access_log." suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />
        <Valve className="org.apache.catalina.valves.ErrorReportValve"
               showReport="false"
               showServerInfo="false" />

      </Host>
    </Engine>
  </Service>
</Server>
